@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
    margin: 0;
}

* {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}